@charset "UTF-8";

/*#region -----------------------Font Definitions-----------------------*/
@font-face {
    src: url("/font/cat.ttf");
    font-family: "Catmoji";
}

@font-face {
    src: url("/font/KTV_NORMAL.ttf");
    font-family: "FONT_KTV_NORMAL";
}

@font-face {
    src: url("/font/KTV_NARROW.ttf");
    font-family: "FONT_KTV_NARROW";
}

/*#endregion -----------------------Font Definitions-----------------------*/

/*#region -----------------------C# style regions (VSC Compatible)----------------------- */
:root {
    --accent-color: #238e9a;
    --light-gray-bg-color: #cbcbcb;
    --body-bg-color: #e5e5e5
}

body {
    background-color: var(--body-bg-color);
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    margin: 0
}

a,
a:visited {
    color: var(--accent-color)
}

a,
a:hover,
a:visited {
    text-decoration: none
}

a:hover {
    color: #8a8a8a
}

.tile-list {
    margin-left: 10px;
    min-width: 620px
}

.tile-list div[role=list] {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    min-width: 620px
}

.tile-list-sidebar {
    margin-bottom: 6px
}

.tile-list-sidebar div[role=list] div.tile:last-child {
    margin-bottom: 0
}

.sidebar-container {
    float: right;
    width: 100%;
}

@media screen and (max-width:950px) {
    .tile-list {
        margin-left: 0;
        min-width: 100%
    }
}

@media screen and (max-width:950px) and (min-width:521px) {
    .tile-list {
        margin-left: 0;
        min-width: 100%
    }
}

@media screen and (min-width:1290px) {

    .tile-list {
        min-width: 930px
    }
}

@media screen and (max-width: 600px) {
    .tiles {
        flex-direction: column;
    }

    .sidebar-tile {
        width: 90% !important;
        max-width: 500px;
        min-height: 80px;
    }

    .sidebar-tile img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }

    .sidebar-tile-wide {
        width: 90% !important;
    }

    .sidebar-tile-medium {
        width: 90% !important;
    }

    .sidebar-tile-face {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 67.5px;
        height: 67.5px;
        flex-shrink: 0;
    }

    .sidebar-tile-face img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        display: block;
        align-items: center;
        justify-content: center;
    }
}


@media screen and (min-width:1600px) {

    .tile-list {
        min-width: 1240px
    }
}

.header {
    display: block;
    font-size: 20pt;
    font-weight: 300;
    margin: 10px 10px 20px;
    color: #000
}

.header.inline {
    display: block;
    font-size: 30pt;
    font-weight: 300;
    margin: 14px 10px 20px;
    color: #000
}

.header.main {
    display: inline-block;
    font-size: 30pt;
    font-weight: 300;
    margin: 10px 10px 20px;
    color: #000
}

.header strong {
    font-weight: 600
}

.tile-top>div:nth-child(2)>p:first-child>a:first-child>img:first-child {
    margin-top: -16px
}

.tile {
    background-color: var(--accent-color);
    height: 300px;
    margin: 0 10px 10px 0;
    width: 300px
}

.tile a {
    text-decoration: none
}

.tile-top {
    margin-top: 10px
}

.tile-article {
    background-color: var(--light-gray-bg-color);
    transition: .2s ease
}

.tile-article:hover {
    background-color: #b2b2b2
}

.tile-header {
    height: 50px;
    position: relative;
    width: 300px
}

.tile-content {
    height: 250px;
    width: 300px
}

input {
    border-radius: 0
}

.sidebar a:hover,
.sidebar a:link,
.sidebar a:visited {
    color: #fff
}

.tile-image {
    height: 100%;
    width: 100%
}

.tile-face-1:hover,
.tile-face-2:hover {
    box-shadow: 0 0 0 2px gray
}

.tile-face-1:active,
.tile-face-2:active {
    border: 2px solid #fff;
    box-shadow: 0 0 0 0 gray
}

.tile-face-1 {
    animation: spin1 40s ease infinite;
    transform: perspective(900px) rotateX(0deg);
    -webkit-transform: perspective(900px) rotateX(0deg);
    z-index: 200
}

.tile-face-1,
.tile-face-2 {
    background: var(--accent-color)
}

.tile-face-2 {
    animation: spin2 40s ease infinite;
    transform: perspective(900px) rotateX(90deg);
    -webkit-transform: perspective(900px) rotateX(90deg);
    z-index: 100
}

.tile-animated-text {
    display: block;
    line-height: 20px;
    max-height: 120px;
    overflow: hidden;
    top: 10px
}

.tile-animated-text,
.tile-icon-text {
    color: #fff;
    left: 10px;
    position: absolute
}

.tile-icon-text {
    bottom: 10px;
    font-size: 12px
}

.sidebar-tile {
    flex: 0 0 auto;
    background: var(--accent-color);
    float: left;
    margin: 0 10px 10px 0;
    overflow: hidden;
    position: relative;
    transition: box-shadow .3s, transform .3s
}

.sidebar-tile:active {
    transform: scale(.95)
}

.sidebar-tile-medium {
    height: 145px;
    width: 145px
}

.sidebar-tile-wide {
    height: 145px;
    width: 300px
}

.sidebar-tile-small {
    height: 67.5px;
    width: 67.5px
}

.sidebar-tile-face-image {
    position: absolute
}

.sidebar-tile-face {
    position: relative
}

.sidebar-tile-face-fulltext {
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px
}

.sidebar-tile-bottom-left-text {
    bottom: 10px;
    font-size: 12px;
    left: 10px;
    position: absolute;
    color: white;
}

.sidebar-tile-bottom-right-icon {
    bottom: 0;
    height: 35px;
    position: absolute;
    right: 0;
    width: 35px
}

.sidebar-tile-hover-border {
    position: absolute;
    top: 0
}

.sidebar-tile-peek {
    animation: sidebar-tile-peek-animation 20s ease infinite;
    color: #fff;
    height: 290px;
    position: relative;
    transition: transform 1s
}

@keyframes sidebar-tile-peek-animation {
    0% {
        transform: translate(0)
    }

    10% {
        transform: translateY(-145px)
    }

    60% {
        transform: translateY(-145px)
    }

    70% {
        transform: translate(0)
    }
}

@keyframes sidebar-tile-slideshow-animation {
    0% {
        opacity: 1;
        transform: scale(1.5)
    }

    17.143% {
        opacity: 1;
        transform: scale(1.5)
    }

    20% {
        opacity: 0;
        transform: scale(2)
    }

    97.14% {
        opacity: 0;
        transform: scale(1)
    }

    to {
        opacity: 1;
        transform: scale(1.5)
    }
}

.content {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    color: #000;
}

#contentspan {
    position: relative;
    margin: 10px 10px 20px;
    color: #000;
}

.hdr-cnt {
    display: flex;
    align-items: center;
    gap: 8px;
}

.backarrow {
    cursor: pointer;
    background-image: url("/images/backarr_dleft_dark.svg");
    width: 48px;
    height: 48px;
    display: inline-block;
}

/*#region -----------------------Basic-----------------------*/
.green {
    color: green;
}

.red {
    color: red;
}

.catmoji {
    font-family: 'Catmoji';
}

.KTV_Dialog_Fnt {
    font-family: "FONT_KTV_NARROW";
}

.KTV_Warn_Fnt {
    font-family: "FONT_KTV_NORMAL";
}

.text {
    color: #000
}

/*#endregion -----------------------Basic-----------------------*/

.clock {
    color: #34beed;
}

#mq {
    background-color: #000;
    border: 1px dotted #34beed;
    width: 400px;
    height: 400px;
}

.credit {
    color: #FFF
}

@media (prefers-color-scheme:dark) {
    body {
        background: #2b2b2b
    }

    .header {
        color: #FFF;
    }

    .content {
        color: #FFF;
    }

    .header.inline {
        color: #FFF;
    }

    .backarrow {
        background-image: url("/images/backarr_dleft_light.svg");
    }

    .header.main {
        color: #FFF
    }

    .green {
        color: greenyellow;
    }

    .clock {
        color: #35beed
    }

    #mq {
        background-color: #FFF;
        border: 1px solid #35BEED;
    }

    .credit {
        color: #000
    }

    .text {
        color: #FFF
    }
}

/*#endregion-----------------------C# style regions (VSC Compatible)-----------------------*/
.item {
    font-size: 20px;
}

.item02 {
    font-size: 25px;
}

.about,
.faq,
.links,
.other,
.projects,
.buttons,
.codes,
.main,
.contact,
.credits {
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1240px;
    position: relative;
    margin: auto auto 0 auto;
    /* top, right, bottom, left */
    width: 100%;
}

/*#region -----------------------KTV Dialog-----------------------*/
/* A certain dialog from a Wii VODF service, recreated in CSS/jQuery */

.dialogdiv {
    position: fixed;
    top: -500px;
    left: 50%;
    user-select: none;
    transform: translateX(-50%);
    width: 80vw;
    max-width: 800px;
    z-index: 99999999;
    display: none;
}

.gradientforktvdialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    -webkit-user-drag: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    z-index: 9999998;
}


.ktvdialog_container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    max-width: 900px;
    height: 80vh;
    max-height: 100vh;
    z-index: 99999999;
    box-sizing: border-box;
    background: transparent;
    display: block;
    transform: translate(-50%, -150%);
    transition: transform 0.3s ease;
}


.ktvdialog {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: auto;
    display: block;
}

.ktvdialog_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-family: 'FONT_KTV_NARROW';
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #65768d;
    user-select: none;
    font-weight: 600;
}

.ktvdialog_button {
    position: absolute;
    bottom: clamp(2vh, 50%, 8vh);
    left: 52%;
    transform: translateX(-50%);
    padding: 10px 20px;
    display: block;
    font-size: 16px;
    font-family: 'FONT_KTV_NARROW', sans-serif;
    font-weight: 700;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    z-index: 10000000000;
    width: 248px;
    height: 98px;
    background-image: url("/images/dialogbtn.png");
}

.ktvdialog_button span {
    position: absolute;
    top: 40%;
    left: 43%;
    transform: translate(-50%, -50%);
    font-family: 'FONT_KTV_NARROW', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: white;
    line-height: 1.2;
    pointer-events: none;
    text-align: center;
    white-space: pre-line;
}

.ktvdialog_button:hover {
    width: 248px;
    height: 98px;
    background-image: url("/images/dialogbtn_hover.png");
    z-index: 10000000001;
}

/*#endregion -----------------------KTV Dialog-----------------------*/

.btns {
    position: relative;
    bottom: 0;
    width: 50%;
    margin-left: 30px;
    height: 100%;
}
